.ipynb_checkpoints
.github/**
project-dog-classification/dogImages
project-dog-classification/lfw/
project-dog-classification/model_scratch.pt
project-dog-classification/model_scratch_last.pt
project-dog-classification/model_transfer.pt
project-dog-classification/model_transfer_last.pt
intro-to-pytorch/Cat_Dog_data
CNN/convolutional-neural-networks/cifar-cnn/data/
CNN/convolutional-neural-networks/mnist-mlp/data/
RNN/word2vec-embeddings/data/
GAN/batch-norm/data/
GAN/gan-mnist/data/
GAN/cycle-gan/summer2winter_yosemite/
project-face-generation/processed_celeba_small/
project-tv-script-generation/trained_rnn.pt
